* {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
}

:root {
	--bg-color: linear-gradient(217deg, #F1B6E0, rgba(255, 0, 0, 0) 70.71%), 
							linear-gradient(127deg, #B3B0F8, rgba(0, 255, 0, 0) 70.71%), 
							linear-gradient(336deg, #8ADDF8, rgba(0, 0, 255, 0) 70.71%);

}

html {
	/* background-color: #b6c7ff; */
	background: var(--bg-color);
}

.div-header {
	height: 8rem;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logoGithub {
	float: right;
	margin-right: 5rem;
}

.logoOne {
	float: left;
	height: 8rem;
	margin-left: 5rem;
}

.container {
	height: 92vh;
	/* height: calc(100vh - 13rem); */
	display: flex;
	margin: 6rem auto;
	align-items: center;
	flex-direction: column;
}

.txt-wrapper {
	display: block;
	margin: 1rem auto 6rem;
	text-align: center;

}

.pairOfBtns {
	display: flex;
}

section div textarea {
	border: none;
	width: 21rem;
	padding: 2rem;
	height: 21rem;
	margin: 0 1rem;
	color: #747fa3;
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 2rem;
}

textarea:hover,
textarea:focus {
	outline: none;
	border-color: #7eb2e9;
	box-shadow: 0 0 1rem #719ECE;
}

a img,
.btnclss {
	cursor: pointer;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

a img:hover,
.btnclss:hover {
	transform: scale(1.2);
}

.paraDesencriptar {
	border: solid 3px white;
	background: url(imagenes/Frame\ 6.png) no-repeat center;
}

.btnclss {
	width: 10rem;
	height: 3rem;
	margin: 1rem;
	border: none;
	color: #747fa3;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 2rem;
	background-color: white;
	border: solid 3px white;
}

.btnclss:hover {
	outline: none;
	cursor: pointer;
	border-color: #7eb2e9;
	box-shadow: 0 0 1rem #719ECE;
}

.botoes {
	display: flex;
	display: flex;
	margin: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}

.toCopy {
	display: none;
}

footer {
	height: 5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: #a0b5fd;
}

.txt-container {
	text-align: center;
}

.txt-container p {
	padding: .2rem;
	font-size: .8rem;
	color: whitesmoke;
}

a {
	color: inherit;
}

/* Media queries */

@media only screen and (max-width: 873px) {

	.btnclss,
	.btnclss:hover,
	.btnclss:active,
	.btnclss:focus {
		animation: none;
		transition: none;
		transform: none;
	}

	.logoGithub {
		display: none;
	}

	.logoOne {
		float: none;
		display: block;
		margin: 0 auto;
	}

	.btnclss {
		width: 8rem;
	}

	section div textarea {
		width: 60%;
		height: 6rem;
		margin-bottom: 1rem;
	}

	.toCopy {
		display: none;
	}

	@media only screen and (max-width: 593px) {
		.logoAlura {
			display: none;
		}

		.logoGithub {
			display: none;
		}
	}
}